* { box-sizing: Border-box ;
	margin:0;}

html, body {
	position: relative;
	width: 100vw;
	height: 100vh;
}

body {
	min-height: 100vh;
	min-width: 100vw;
	min-height: -webkit-fill-available;
  }
  html {
	height: -webkit-fill-available;
  }
